header {
    background-color: #754ffe;
}

.header-2 {
    display: inline-block;
    justify-content: space-between;
}

h3 {
    padding-left: 4.7em;
}

.card {
    margin-left: 2em;
}

ul li {
    margin-left: 2em;
}

ion-icon {
    font-size: large;
    margin-right: 1em;
    margin-top: 0.6em;
  }

  nav img {
    height: 40px;
    border-radius: 20px;
   }

   main h5 {
    font-size: medium;
    font-weight: 400;
   }
   